<template>
    <div>
        <div class="dialog" v-if="show"  @click="hideDialog" >
            <div @click.stop="" class="dialog__content">
            <p class="orderNumber">Заказ 1</p>
            <p>Корзина</p>
            <div class="product">
                <p class="product__title">Товар первый</p>
                <p class="product__amount">1 шт.</p>
                <p class="product__sum">12300р.</p>
            </div>
            <div class="product">
                <p class="product__title">Товар второй</p>
                <p class="product__amount">3 шт.</p>
                <p class="product__sum">12300р.</p>
            </div>
            <p class="dialog__result">24600р.</p>
            <div class="buttons">
                <button 
                    class="dialog__button" style="color:green"
                    @click="toShipment"
                >
                К отгрузке</button>
                <button 
                    class="dialog__button" style="color:red"
                    @click="delOrder"
                    >
                    Отменить</button>
            </div>
        </div>
    </div>
    </div>
    
</template>

<script>
    export default {
        name: 'my-dialoge',
        props: {
            show: {
                type: Boolean,
                default: false
            },

            modalId: {
                type: Number
            }
            
        }, 
        methods: {
            hideDialog() {
                this.$emit('update:show', false)
            },

            toShipment() {
                this.$emit('select', {option: {value: 2}, id:this.modalId})
            },

            delOrder() {
                this.$emit('select', {option: {value: 3}, id:this.modalId})
            }

        }
    } 

</script>

<style scoped>
    .dialog {
        top: 0;
        bottom: 0;
        right: 0;
        left:0;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        display: flex;
        z-index: 2;
    }

    .dialog__content {
        margin: auto;
        background: var(--var-body-bg);
        border:2px solid var(--var-body-fc);
        min-height: 200px;
        min-width: 500px;
        padding: 30px;
    }

    .product {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border:2px solid var(--var-body-fc);
        margin-bottom: 3px;
    }

    .orderNumber {
        text-align: center;
    }

    .dialog__result {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right: 54px;
        
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .dialog__button {
        background-color: #fff;
        border:2px solid var(--var-body-fc);
        padding: 10px 20px;
        font-size: 28px;
        width: 200px;
        height: 50px;
    }
</style>


<style>
    :root {
      --var-body-bg: #fff;
      --var-body-fc: #000;
    }
    
    body {
        background: var(--var-body-bg);
        color: var(--var-body-fc);
    }
    
    [dark] {
        --var-body-bg: #000;
        --var-body-fc: #fff;
    }
    
  </style>