<template>
    <div class="v-select">
        <p class="title" 
            @click="areOptionsVisible = !areOptionsVisible"
        >...</p>
        <div 
            class="options"
            v-if="areOptionsVisible"

        >
            <p  
                class="option"
                @click="selectOption(option)"
            >
                {{option.title}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'shipment-more',

        data() {
            return {
                areOptionsVisible: false,
                option: {
                    title: "Отмена",
                    value: 2
                }
            }
        },

        props: {
            options: {
                type: Array, 
                default() {
                    return []
                }
            },

            selected: {
                type: String,
                default: ''
            },
            
            orderId: {
                type: Number
            }
        },

        methods: {
            selectOption(option) {
                console.log(option.value)
                this.$emit('select', {option: option, id: this.orderId})
                this.areOptionsVisible = false
            },

            hideSelect() {
                this.areOptionsVisible = false;
            }
        },
        
    }
</script>

<style scoped>
    
    .v-select p{
        margin: 0;
        color: var(--var-body-fc);
    }

    .v-select {
        position: relative;
        width:33px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        cursor: pointer;

    }

    .title {
        border: solid 1px #aeaeae;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center; 
        
    }

    .options {
        border: solid 1px var(--var-body-fc);
        position:absolute;
        top:31px;
        right: -29px;
        width:270%;
        z-index: 1;
    }

    .options p:hover {
        background: #e7e7e7;
        color: var(--var-body-bg)
    }

    .option {
        text-align: center;
        background-color: var(--var-body-bg);
    }
</style>