<template>
    <div class="orderBlock__order order">
            <p class="order__title">{{order.title}}</p>
            <p class="order__price">{{order.price}}<strong>₽</strong></p>
            <order-more
                v-if="!order.shipment"
                :options="options"
                @select="optionSelect"
               :selected="selected"
               :orderId="order.id"
            >
            </order-more>

            <shipment-more  v-if="order.shipment"
            @select="optionSelect"
            :orderId="order.id"
            >


            </shipment-more>
            <!-- <button class="order__more" @click="show">
                <strong>...</strong>
            </button> -->
    </div>
</template>

<script>
    export default {
        name:'order-item',
        props: {
            order: {
                type: Object
            }
        },

        data() {
            return {
                options: [
                    {name:'Подробнее', value: 1},
                    {name:'К отгрузке', value: 2},
                    {name:'Удалить', value: 3},
                ],

                selected: 'Select',
            }
        },

        methods: {
            optionSelect(data) {
                this.$emit('select', data)
            }
        }
    }
</script>

<style scoped>

</style>