<template>
    <div class="orderBlock">
        <div class="orderBlock__header">
            <div class="orderBlock__heading">Заказы</div>
            <button class="orderBlock__update">O</button>
        </div>

        <div v-for="order in orders"  :key="order.id">

            <order-item
            v-if="!order.shipment"
            :order="order"
            @select="optionSelect"
            >


            </order-item>
        </div>
            
    </div>
</template>

<script>



    export default {
        components: {
            
        },

        props: {
            orders: {
                type: Array
            }
        },

        methods: {
            optionSelect(data) {
                this.$emit('select', data)
            }
        }
    }
</script>

<style >

</style>