<template>
    <div class="orderBlock">
        <div class="orderBlock__header">
            <div class="orderBlock__heading">Отгрузка</div>
            <button class="orderBlock__update">O</button>
        </div>
        <div v-for="order in orders"  :key="order.id">
            <order-item
            v-if="order.shipment"
            
            :order="order"
            @select="optionSelect"
            >


            </order-item>
        </div>
            
    </div>
</template>

<script>
    export default {
        props: {
            orders: {
                type: Array
            }
        },

        methods: {
            optionSelect(data) {
                this.$emit('select', data)
            }
        }
    }
</script>

<style  scoped>

</style>