<template>

  <my-dialoge
    v-model:show="dialogVisible"
    @select="optionSelect"
    v-model:modalId="modalId"
  > 
  </my-dialoge>

  <header>
    <div class="header__wrapper">
      <h1 class="header__heading">Название проекта</h1>
      <div class="dark-mode">
        <p class="dark-mode__title">тёмная тема</p>
        <label class="switch">
          <input type="checkbox" @click="darkMode">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </header>

  

  <main>
    <div class="main__wrapper">
      <order-list
        v-model:orders="orders"
        @select="optionSelect"
      >
      </order-list>
      <shipment-list
        v-model:orders="orders" 
        @select="optionSelect"
      >
      </shipment-list>
    </div>
  </main>


  <footer>
    <div class="footer__wrapper">
      <h2 class="footer__heading">Бекмуратов Дилмурат Бекмуратович 211-321</h2>
      <button class="footer__btn">
        <a href="#body" class="footer__up">UP</a>
      </button>
    </div>
  </footer>

</template>

<script>

import orderList from '@/components/orderList'
import shipmentList from '@/components/shipmentList'

export default {
  name: 'App',
  components: {
    orderList,
    shipmentList

  },

  data() {
    return {
      orders: [
        {id:1, title: 'Order1', price: 12345, shipment: false},
        {id:2, title: 'Order2', price: 65346, shipment: false},
        {id:3, title: 'Order3', price: 24225, shipment: false},
        {id:4, title: 'Order4', price: 123325, shipment: true}
      ],
      dialogVisible: false,
      modalId: 0
    }
  },
  
  methods: {
    darkMode(event) {
      if (event.target.checked) document.body.setAttribute('dark', '')
      else document.body.removeAttribute('dark')
    },

    optionSelect(data) {
      if(data.option.value == 1) {
        this.dialogVisible = true
        this.modalId = data.id
      }

      else if(data.option.value == 2) {
        this.orders.forEach(order => {
        if( order.id === data.id) {
          order.shipment = !order.shipment
        }
        this.dialogVisible = false
      })
      }

      else if(data.option.value == 3) {
        this.orders.forEach(order => {
        if( order.id === data.id) {
          this.orders.splice(order.id-1,1)
        }
        this.dialogVisible = false
      })
      }
    },

  }
}
</script>

<style>

.header__wrapper {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px;
  border: 2px solid var(--var-body-fc);
}

.main__wrapper {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 600px;
}

.orderBlock {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--var-body-fc);
  width: 49.1%;
  margin-top: 14px;
  padding: 14px;
}

.orderBlock__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.orderBlock__heading {
  margin-right: 117px;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--var-body-fc);
  padding: 7px 14px;
  margin-top: 14px;
}

button {
  width: 28px;
  height: 28px;
  background-color: var(--var-body-bg);
  border: 1px solid var(--var-body-fc);
  cursor: pointer;
  color: var(--var-body-fc);
}

.footer__wrapper {
  margin: 0 auto;
  width: 768px;
  border: 2px solid var(--var-body-fc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px;
  margin-top: 14px;
}

main {
  min-height: calc(100vh - 130px);
}

.dark-mode {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  color: gray;
  font-size: 10px;
}


</style>


<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --var-body-bg: #fff;
  --var-body-fc: #000;
  --var-header-bg: pink;
}

body {
  background: var(--var-body-bg);
  color: var(--var-body-fc);
}

a {
  color: var(--var-body-fc);
  text-decoration: none;
}

[dark] {
  --var-body-bg: #000;
  --var-body-fc: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--var-body-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--var-body-fc);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


</style>


